<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Profile</title>
    <link rel="stylesheet" href="../../static/stylesheet/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="profileedit">
<div class=header__backgroundtop></div>
<div class=header__backgroundbottom></div>
<div class="container">
    <div class=header__container>
        <img class="header__icon" alt="Brgy Logo" src="../../static/images/logo.png"/>
        <div class=header__section1>
            <div class="header__section1-1">
                <p class="header__text1">Pasig City, Metro Manila</p>
                <p class="header__text2">BARANGAY SANTA LUCIA</p>
            </div>
            <div class="header__section1-2">
                <ul>
                    <li class="firstlist"
                        onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_home') }}'">
                        Home
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_the_barangay') }}'">
                        The
                        Barangay
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_facilities') }}'">
                        Facilities
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_residents') }}'">
                        Residents
                    </li>
                    <li class="header__dropdown">
                        <p class="header__dropdownbtn">Services</p>
                        <div class="header__dropdowncontent">
                            <a href="{{ url_for('brngyofficial_views.barangay_official_maligaya_court_reservations') }}">Maligaya
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_countryside_court_reservations') }}">Countryside
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_tennis_court_reservations') }}">Tennis
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_item_tracking') }}">Item
                                Reservation</a>
                        </div>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_profile', username=current_user.username) }}'">
                            Profile
                        </li>
                        <li id="logoutBtn">Logout</li>
                    {% else %}
                        <li onclick="window.location.href='{{ url_for('views.login') }}'">Login</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


<form method="POST" action="{{ url_for('brngyofficial_views.barangay_official_add_residents') }}">
    <div class="container profile__topinfocont top-1em">
        <div class="centeredflex top2em">
            <img class="profile__image" id="profileimage" alt="Profile Picture"
                 src="../../static/images/defaultphoto.png"/>
        </div>
        <div class="centeredflex">
            <input type="file" accept="image/*" id="changeprofileimage" name="changeprofileimage"/>
            <label for="changeprofileimage">
                <img class="inputicon" alt="Upload Icon" src="../../static/images/uploadimage.png"/>
                Upload a Photo
            </label>
        </div>
        <div class="centeredflex">
            <input class="profileedit__name" type="text" name="fullname" placeholder="Enter User Full Name" required/>
        </div>
        <div class="centeredflex">
            <p class="profileedit__guidetext">Basic Information</p>
        </div>
    </div>
    <div class="container justifiedflex top2em">
        <div class="profile__leftinfocont">
            <div class="profile__inforow centeredflex">
                <div class="width30">
                    <p class="textleft webkitwidth2">Barangay Number: </p>
                </div>
                <input class="profileedit__inforow" type="number" name="brgynum"
                       placeholder="This is automatically generated" disabled/>
            </div>
            <div class="profile__inforow centeredflex">
                <div class="width30">
                    <p class="textleft webkitwidth2">Sex: </p>
                </div>
                <input class="profileedit__inforow" type="text" name="sex" placeholder="Enter User Sex" required/>
            </div>
            <div class="profile__inforow centeredflex">
                <div class="width30">
                    <p class="textleft webkitwidth2">Username: </p>
                </div>
                <input class="profileedit__inforow" type="text" name="username" placeholder="Enter User Username"
                       required/>
            </div>
            <div class="profile__infolastrow flex">
                <div class="width73">
                    <p class="textleft webkitwidth2">Password: </p>
                </div>
                <div>
                    <p class="textright profileedit__changepass" id="editchangepass">Add Password?</p>
                </div>
            </div>
        </div>


        <div class="profile__rightinfocont">
            <div class="profile__inforow centeredflex">
                <div class="width30">
                    <p class="textleft webkitwidth2">Birthdate: </p>
                </div>
                <input class="profileedit__inforow" type="date" name="birthdate" placeholder="Enter User Birthdate"
                       required/>
            </div>
            <div class="profile__inforow centeredflex">
                <div class="width30">
                    <p class="textleft webkitwidth2">Relocation Year: </p>
                </div>
                <input class="profileedit__inforow" type="number" name="relocationyear"
                       placeholder="Enter User Relocation Year" required/>
            </div>
            <div class="profile__infolastrow centeredflex">
                <div class="width30">
                    <p class="textleft webkitwidth2">Address: </p>
                </div>
                <textarea class="profileedit__infotextarea" name="address" placeholder="Enter User Address"
                          required></textarea>
            </div>
        </div>
    </div>


{#    <div class="profileedit__popup">#}
{#        <button class="profileedit__popupexitbutton" id="editclose">&times;</button>#}
{#        <p class="profileedit__popuplabelnew">New Password</p>#}
{#        <input class="profile__popupnewpass" type="password" id="changenewpass" name="changenewpass"#}
{#               placeholder="Enter New Password" required>#}
{#        <p class="profile__popuplabel">Confirm New Password</p>#}
{#        <input class="profile__popupconfirmpass" type="password" id="changeconfirmpass" name="changeconfirmpass"#}
{#               placeholder="Re-enter New Password" required>#}
{#        <div class="centeredflex">#}
{#            <input class="profileedit__popupsavebtn" type="" value="Submit">#}
{#        </div>#}
{#    </div>#}

    <div class="centeredflex">
        <input type="submit" value="Submit" class="profileedit__savebtn">
        <input class="profileedit__cancelbtn" type="button" value="Cancel"
               onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_residents') }}'">
    </div>
</form>


<script src="{{ url_for('static', filename='scripts/previewimage.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/editpopup.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/logoutconfirm.js') }}"></script>

</body>
</html>