<!DOCTYPE html>
<html lang="en">
<head>
    <title>Residents</title>
    <link rel="stylesheet" href="../../static/stylesheet/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="reservation">
<div class=header__backgroundtop></div>
<div class=header__backgroundbottom></div>
<div class="container">
    <div class=header__container>
        <img class="header__icon" alt="Brgy Logo" src="../../static/images/logo.png"/>
        <div class=header__section1>
            <div class="header__section1-1">
                <p class="header__text1">Pasig City, Metro Manila</p>
                <p class="header__text2">BARANGAY SANTA LUCIA</p>
            </div>
            <div class="header__section1-2">
                <ul>
                    <li class="firstlist"
                        onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_home') }}'">
                        Home
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_the_barangay') }}'">
                        The
                        Barangay
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_facilities') }}'">
                        Facilities
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_residents') }}'">
                        Residents
                    </li>
                    <li class="header__dropdown">
                        <p class="header__dropdownbtn">Services</p>
                        <div class="header__dropdowncontent">
                            <a href="{{ url_for('brngyofficial_views.barangay_official_maligaya_court_reservations') }}">Maligaya
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_countryside_court_reservations') }}">Countryside
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_tennis_court_reservations') }}">Tennis
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_item_tracking') }}">Item
                                Reservation</a>
                        </div>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_profile', username=current_user.username) }}'">
                            Profile
                        </li>
                        <li id="logoutBtn">Logout</li>
                    {% else %}
                        <li onclick="window.location.href='{{ url_for('views.login') }}'">Login</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container centeredflex top4em">
    <p class="reservation__label textalign">Rosario 5 & 6<br>Tennis Court Reservation List</p>
</div>


<div class="container top4em">
    <p class="reservationadmin__dayLabel">Tuesday</p>
</div>

<div class="container centeredflex top-1em">
    <table>
        <tr class="rowgreen">
            <td class="reservationadmin__tableheader reservationadmin__name">Name</td>
            <td class="reservationadmin__tableheader reservationadmin__purpose">Purpose of Use</td>
            <td class="reservationadmin__tableheader reservationadmin__attendees textalign">Number of Attendees</td>
            <td class="reservationadmin__tableheader reservationadmin__date textalign">Reservation Date</td>
            <td class="reservationadmin__tableheader reservationadmin__time textalign">Reservation Time</td>
        </tr>
        {% for reservation in sunday %}
            {% if reservation.reservation_time=="7amslot" %}
                <td class="reservationadmin__time">
                    7:00 AM - 7:59 AM
                </td>
            {% elif reservation.reservation_time=="8amslot" %}
                <td class="reservationadmin__time">
                    8:00 AM - 8:59 AM
                </td>
            {% elif reservation.reservation_time=="9amslot" %}
                <td class="reservationadmin__time">
                    9:00 AM - 9:59 AM
                </td>
            {% elif reservation.reservation_time=="10amslot" %}
                <td class="reservationadmin__time">
                    10:00 AM - 10:59 AM
                </td>
            {% elif reservation.reservation_time=="11amslot" %}
                <td class="reservationadmin__time">
                    11:00 AM - 11:59 AM
                </td>
            {% elif reservation.reservation_time=="12pmslot" %}
                <td class="reservationadmin__time">
                    12:00 PM - 12:59 PM
                </td>
            {% elif reservation.reservation_time=="1pmslot" %}
                <td class="reservationadmin__time">
                    1:00 PM - 1:59 PM
                </td>
            {% elif reservation.reservation_time=="2pmslot" %}
                <td class="reservationadmin__time">
                    2:00 PM - 2:59 PM
                </td>
            {% elif reservation.reservation_time=="3pmslot" %}
                <td class="reservationadmin__time">
                    3:00 PM - 3:59 PM
                </td>
            {% elif reservation.reservation_time=="4pmslot" %}
                <td class="reservationadmin__time">
                    {% elif reservation.reservation_time=="5pmslot" %}
                <td class="reservationadmin__time">
                    5:00 PM - 5:59 PM
                </td>
            {% elif reservation.reservation_time=="6pmslot" %}
                <td class="reservationadmin__time">
                    6:00 PM - 6:59 PM
                </td>
            {% elif reservation.reservation_time=="7pmslot" %}
            {% endif %}
        {% endfor %}
    </table>
</div>


<div class="container top4em">
    <p class="reservationadmin__dayLabel">Wednesday</p>
</div>

<div class="container centeredflex top-1em">
    <table>
        <tr class="rowgreen">
            <td class="reservationadmin__tableheader reservationadmin__name">Name</td>
            <td class="reservationadmin__tableheader reservationadmin__purpose">Purpose of Use</td>
            <td class="reservationadmin__tableheader reservationadmin__attendees textalign">Number of Attendees</td>
            <td class="reservationadmin__tableheader reservationadmin__date textalign">Reservation Date</td>
            <td class="reservationadmin__tableheader reservationadmin__time textalign">Reservation Time</td>
        </tr>
        {% for reservation in sunday %}
            {% if reservation.reservation_time=="7amslot" %}
                <td class="reservationadmin__time">
                    7:00 AM - 7:59 AM
                </td>
            {% elif reservation.reservation_time=="8amslot" %}
                <td class="reservationadmin__time">
                    8:00 AM - 8:59 AM
                </td>
            {% elif reservation.reservation_time=="9amslot" %}
                <td class="reservationadmin__time">
                    9:00 AM - 9:59 AM
                </td>
            {% elif reservation.reservation_time=="10amslot" %}
                <td class="reservationadmin__time">
                    10:00 AM - 10:59 AM
                </td>
            {% elif reservation.reservation_time=="11amslot" %}
                <td class="reservationadmin__time">
                    11:00 AM - 11:59 AM
                </td>
            {% elif reservation.reservation_time=="12pmslot" %}
                <td class="reservationadmin__time">
                    12:00 PM - 12:59 PM
                </td>
            {% elif reservation.reservation_time=="1pmslot" %}
                <td class="reservationadmin__time">
                    1:00 PM - 1:59 PM
                </td>
            {% elif reservation.reservation_time=="2pmslot" %}
                <td class="reservationadmin__time">
                    2:00 PM - 2:59 PM
                </td>
            {% elif reservation.reservation_time=="3pmslot" %}
                <td class="reservationadmin__time">
                    3:00 PM - 3:59 PM
                </td>
            {% elif reservation.reservation_time=="4pmslot" %}
                <td class="reservationadmin__time">
                    {% elif reservation.reservation_time=="5pmslot" %}
                <td class="reservationadmin__time">
                    5:00 PM - 5:59 PM
                </td>
            {% elif reservation.reservation_time=="6pmslot" %}
                <td class="reservationadmin__time">
                    6:00 PM - 6:59 PM
                </td>
            {% elif reservation.reservation_time=="7pmslot" %}
            {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>


<div class="container top4em">
    <p class="reservationadmin__dayLabel">Thursday</p>
</div>

<div class="container centeredflex top-1em">
    <table>
        <tr class="rowgreen">
            <td class="reservationadmin__tableheader reservationadmin__name">Name</td>
            <td class="reservationadmin__tableheader reservationadmin__purpose">Purpose of Use</td>
            <td class="reservationadmin__tableheader reservationadmin__attendees textalign">Number of Attendees</td>
            <td class="reservationadmin__tableheader reservationadmin__date textalign">Reservation Date</td>
            <td class="reservationadmin__tableheader reservationadmin__time textalign">Reservation Time</td>
        </tr>
        {% for reservation in sunday %}
            {% if reservation.reservation_time=="7amslot" %}
                <td class="reservationadmin__time">
                    7:00 AM - 7:59 AM
                </td>
            {% elif reservation.reservation_time=="8amslot" %}
                <td class="reservationadmin__time">
                    8:00 AM - 8:59 AM
                </td>
            {% elif reservation.reservation_time=="9amslot" %}
                <td class="reservationadmin__time">
                    9:00 AM - 9:59 AM
                </td>
            {% elif reservation.reservation_time=="10amslot" %}
                <td class="reservationadmin__time">
                    10:00 AM - 10:59 AM
                </td>
            {% elif reservation.reservation_time=="11amslot" %}
                <td class="reservationadmin__time">
                    11:00 AM - 11:59 AM
                </td>
            {% elif reservation.reservation_time=="12pmslot" %}
                <td class="reservationadmin__time">
                    12:00 PM - 12:59 PM
                </td>
            {% elif reservation.reservation_time=="1pmslot" %}
                <td class="reservationadmin__time">
                    1:00 PM - 1:59 PM
                </td>
            {% elif reservation.reservation_time=="2pmslot" %}
                <td class="reservationadmin__time">
                    2:00 PM - 2:59 PM
                </td>
            {% elif reservation.reservation_time=="3pmslot" %}
                <td class="reservationadmin__time">
                    3:00 PM - 3:59 PM
                </td>
            {% elif reservation.reservation_time=="4pmslot" %}
                <td class="reservationadmin__time">
                    {% elif reservation.reservation_time=="5pmslot" %}
                <td class="reservationadmin__time">
                    5:00 PM - 5:59 PM
                </td>
            {% elif reservation.reservation_time=="6pmslot" %}
                <td class="reservationadmin__time">
                    6:00 PM - 6:59 PM
                </td>
            {% elif reservation.reservation_time=="7pmslot" %}
            {% endif %}
        {% endfor %}
    </table>
</div>


<div class="container top4em">
    <p class="reservationadmin__dayLabel">Friday</p>
</div>

<div class="container centeredflex top-1em">
    <table>
        <tr class="rowgreen">
            <td class="reservationadmin__tableheader reservationadmin__name">Name</td>
            <td class="reservationadmin__tableheader reservationadmin__purpose">Purpose of Use</td>
            <td class="reservationadmin__tableheader reservationadmin__attendees textalign">Number of Attendees</td>
            <td class="reservationadmin__tableheader reservationadmin__date textalign">Reservation Date</td>
            <td class="reservationadmin__tableheader reservationadmin__time textalign">Reservation Time</td>
        </tr>
        {% for reservation in sunday %}
            {% if reservation.reservation_time=="7amslot" %}
                <td class="reservationadmin__time">
                    7:00 AM - 7:59 AM
                </td>
            {% elif reservation.reservation_time=="8amslot" %}
                <td class="reservationadmin__time">
                    8:00 AM - 8:59 AM
                </td>
            {% elif reservation.reservation_time=="9amslot" %}
                <td class="reservationadmin__time">
                    9:00 AM - 9:59 AM
                </td>
            {% elif reservation.reservation_time=="10amslot" %}
                <td class="reservationadmin__time">
                    10:00 AM - 10:59 AM
                </td>
            {% elif reservation.reservation_time=="11amslot" %}
                <td class="reservationadmin__time">
                    11:00 AM - 11:59 AM
                </td>
            {% elif reservation.reservation_time=="12pmslot" %}
                <td class="reservationadmin__time">
                    12:00 PM - 12:59 PM
                </td>
            {% elif reservation.reservation_time=="1pmslot" %}
                <td class="reservationadmin__time">
                    1:00 PM - 1:59 PM
                </td>
            {% elif reservation.reservation_time=="2pmslot" %}
                <td class="reservationadmin__time">
                    2:00 PM - 2:59 PM
                </td>
            {% elif reservation.reservation_time=="3pmslot" %}
                <td class="reservationadmin__time">
                    3:00 PM - 3:59 PM
                </td>
            {% elif reservation.reservation_time=="4pmslot" %}
                <td class="reservationadmin__time">
                    {% elif reservation.reservation_time=="5pmslot" %}
                <td class="reservationadmin__time">
                    5:00 PM - 5:59 PM
                </td>
            {% elif reservation.reservation_time=="6pmslot" %}
                <td class="reservationadmin__time">
                    6:00 PM - 6:59 PM
                </td>
            {% elif reservation.reservation_time=="7pmslot" %}
            {% endif %}
        {% endfor %}
    </table>
</div>


<div class="container top4em">
    <p class="reservationadmin__dayLabel">Saturday</p>
</div>

<div class="container centeredflex top-1em">
    <table>
        <tr class="rowgreen">
            <td class="reservationadmin__tableheader reservationadmin__name">Name</td>
            <td class="reservationadmin__tableheader reservationadmin__purpose">Purpose of Use</td>
            <td class="reservationadmin__tableheader reservationadmin__attendees textalign">Number of Attendees</td>
            <td class="reservationadmin__tableheader reservationadmin__date textalign">Reservation Date</td>
            <td class="reservationadmin__tableheader reservationadmin__time textalign">Reservation Time</td>
        </tr>
        {% for reservation in sunday %}
            {% if reservation.reservation_time=="7amslot" %}
                <td class="reservationadmin__time">
                    7:00 AM - 7:59 AM
                </td>
            {% elif reservation.reservation_time=="8amslot" %}
                <td class="reservationadmin__time">
                    8:00 AM - 8:59 AM
                </td>
            {% elif reservation.reservation_time=="9amslot" %}
                <td class="reservationadmin__time">
                    9:00 AM - 9:59 AM
                </td>
            {% elif reservation.reservation_time=="10amslot" %}
                <td class="reservationadmin__time">
                    10:00 AM - 10:59 AM
                </td>
            {% elif reservation.reservation_time=="11amslot" %}
                <td class="reservationadmin__time">
                    11:00 AM - 11:59 AM
                </td>
            {% elif reservation.reservation_time=="12pmslot" %}
                <td class="reservationadmin__time">
                    12:00 PM - 12:59 PM
                </td>
            {% elif reservation.reservation_time=="1pmslot" %}
                <td class="reservationadmin__time">
                    1:00 PM - 1:59 PM
                </td>
            {% elif reservation.reservation_time=="2pmslot" %}
                <td class="reservationadmin__time">
                    2:00 PM - 2:59 PM
                </td>
            {% elif reservation.reservation_time=="3pmslot" %}
                <td class="reservationadmin__time">
                    3:00 PM - 3:59 PM
                </td>
            {% elif reservation.reservation_time=="4pmslot" %}
                <td class="reservationadmin__time">
                    {% elif reservation.reservation_time=="5pmslot" %}
                <td class="reservationadmin__time">
                    5:00 PM - 5:59 PM
                </td>
            {% elif reservation.reservation_time=="6pmslot" %}
                <td class="reservationadmin__time">
                    6:00 PM - 6:59 PM
                </td>
            {% elif reservation.reservation_time=="7pmslot" %}
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="container top4em">
    <p class="reservationadmin__dayLabel">Sunday</p>
</div>

<div class="container centeredflex top-1em">
    <table class="bottom2em">
        <tr class="rowgreen">
            <td class="reservationadmin__tableheader reservationadmin__name">Name</td>
            <td class="reservationadmin__tableheader reservationadmin__purpose">Purpose of Use</td>
            <td class="reservationadmin__tableheader reservationadmin__attendees textalign">Number of Attendees</td>
            <td class="reservationadmin__tableheader reservationadmin__date textalign">Reservation Date</td>
            <td class="reservationadmin__tableheader reservationadmin__time textalign">Reservation Time</td>
        </tr>
        {% for reservation in sunday %}
            {% if reservation.reservation_time=="7amslot" %}
                <td class="reservationadmin__time">
                    7:00 AM - 7:59 AM
                </td>
            {% elif reservation.reservation_time=="8amslot" %}
                <td class="reservationadmin__time">
                    8:00 AM - 8:59 AM
                </td>
            {% elif reservation.reservation_time=="9amslot" %}
                <td class="reservationadmin__time">
                    9:00 AM - 9:59 AM
                </td>
            {% elif reservation.reservation_time=="10amslot" %}
                <td class="reservationadmin__time">
                    10:00 AM - 10:59 AM
                </td>
            {% elif reservation.reservation_time=="11amslot" %}
                <td class="reservationadmin__time">
                    11:00 AM - 11:59 AM
                </td>
            {% elif reservation.reservation_time=="12pmslot" %}
                <td class="reservationadmin__time">
                    12:00 PM - 12:59 PM
                </td>
            {% elif reservation.reservation_time=="1pmslot" %}
                <td class="reservationadmin__time">
                    1:00 PM - 1:59 PM
                </td>
            {% elif reservation.reservation_time=="2pmslot" %}
                <td class="reservationadmin__time">
                    2:00 PM - 2:59 PM
                </td>
            {% elif reservation.reservation_time=="3pmslot" %}
                <td class="reservationadmin__time">
                    3:00 PM - 3:59 PM
                </td>
            {% elif reservation.reservation_time=="4pmslot" %}
                <td class="reservationadmin__time">
                    {% elif reservation.reservation_time=="5pmslot" %}
                <td class="reservationadmin__time">
                    5:00 PM - 5:59 PM
                </td>
            {% elif reservation.reservation_time=="6pmslot" %}
                <td class="reservationadmin__time">
                    6:00 PM - 6:59 PM
                </td>
            {% elif reservation.reservation_time=="7pmslot" %}
            {% endif %}
        {% endfor %}
    </table>
</div>


</body>
</html>