<!DOCTYPE html>
<html lang="en">
<head>
    <title>Residents</title>
    <link rel="stylesheet" href="../../static/stylesheet/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="residents">
<div class=header__backgroundtop></div>
<div class=header__backgroundbottom></div>
<div class="container">
    <div class=header__container>
        <img class="header__icon" alt="Brgy Logo" src="../../static/images/logo.png"/>
        <div class=header__section1>
            <div class="header__section1-1">
                <p class="header__text1">Pasig City, Metro Manila</p>
                <p class="header__text2">BARANGAY SANTA LUCIA</p>
            </div>
            <div class="header__section1-2">
                <ul>
                    <li class="firstlist"
                        onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_home') }}'">
                        Home
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_the_barangay') }}'">
                        The
                        Barangay
                    </li>
                    <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_residents') }}'">
                        Residents
                    </li>
                    <li class="header__dropdown">
                        <p class="header__dropdownbtn">Services</p>
                        <div class="header__dropdowncontent">
                            <a href="{{ url_for('brngyofficial_views.barangay_official_maligaya_court_reservations') }}">Maligaya
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_countryside_court_reservations') }}">Countryside
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_tennis_court_reservations') }}">Tennis
                                Court Reservation</a>
                            <a href="{{ url_for('brngyofficial_views.barangay_official_item_tracking') }}">Item
                                Reservation</a>
                        </div>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_profile', username=current_user.username) }}'">
                            Profile
                        </li>
                        <li id="logoutBtn">Logout</li>
                    {% else %}
                        <li onclick="window.location.href='{{ url_for('views.login') }}'">Login</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container centeredflex top2em">
    <p class="residents__label">Residents Information</p>
</div>

<div class="container centeredflex top4em">
    <form action="{{ url_for('brngyofficial_views.barangay_official_search_residents') }}" method="POST">
        <input type="text" class="residents__searchtxt" name="search" placeholder="Search a resident">
        <input type="submit" class="residents__searchbtn" name="submit" value="Enter">
    </form>
    <button class="residents__addbtn"
            onclick="window.location.href='{{ url_for('brngyofficial_views.barangay_official_add_residents') }}'">Add
        Resident
    </button>
</div>

<div class="container centeredflex top2em">
    <table class="bottom2em">
        <tr class="rowgreen">
            <td class="residents__tableheader residents__brdynum">Barangay Number</td>
            <td class="residents__tableheader residents__name textalign">Full Name</td>
            <td class="residents__tableheader residents__sex">Sex</td>
            <td class="residents__tableheader residents__bdate">Birthdate</td>
            <td class="residents__tableheader residents__relocation">Relocation Year</td>
            <td class="residents__tableheader residents__address textalign">Address</td>
            <td class="residents__tableheader residents__operation">Operation</td>
        </tr>
        {% for data in residents %}
            <tr class="residents__tablerow">
                <td class="residents__brdynum">{{ data.id }}</td>
                <td class="residents__name">{{ data.full_name }}</td>
                <td class="residents__sex">{{ data.sex }}</td>
                <td class="residents__bdate">{{ data.birthdate }}</td>
                <td class="residents__relocation">{{ data.relocation_year }}</td>
                <td class="residents__address">{{ data.address }}</td>
                <td class="residents__edit">
                    <a id="edit__btn"
                       href="{{ url_for('brngyofficial_views.barangay_official_edit_residents', id=data.id) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<script src="{{ url_for('static', filename='scripts/logoutconfirm.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/getuserid.js') }}"></script>
</body>
</html>