@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

h1, h2, h3, h4, h5, h6, p, a, li, ul, span, div, td {
  font-family: 'Montserrat';
}

body {
  margin: 0;
  height: fit-content;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.top1em {
    margin-top: 1em;
}

.top2em {
  margin-top: 2em;
}

.top4em {
  margin-top: 4em;
}

.top6em {
  margin-top: 6em;
}

.top8em {
  margin-top: 8em;
}

.top10em {
  margin-top: 10em;
}

.top-1em {
    margin-top: -1.5em;
}

.top--1em {
    margin-top: -1em;
}

.top-4em {
    margin-top: -1.5em;
}

.bottom2em {
    margin-bottom: 2em;
}

.width20 {
  width: 20%;
}

.width30 {
    width: 30%;
}

.width40 {
    width: 40%;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}

.width70 {
    width: 70%;
}

.width73 {
  width: 73%;
}

.width80 {
    width: 80%;
}

.flex {
  display: flex;
}

.centeredflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifiedflex {
  display: flex;
  justify-content: center;
}

.alignedflex {
  display: flex;
  align-items: center;
}

.textalign {
    text-align: center;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.rowgreen {
  background-color: rgba(16, 98, 14, 1);
  color: white
}

.textgreen {
  color: #068303;
}

.webkitwidth2 {
    -webkit-text-stroke-width: 1px;
}











/* -------------------------------------------------------------------------------------------------------HEADER CSS */

.header__backgroundtop {
  position: absolute;
  height: 5.7em;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba(55, 120, 32, 1);
  z-index: -1;
}

.header__backgroundbottom {
  position: absolute;
  height: 2em;
  width: 100vw;
  top: 91px;
  left: 0px;
  background-color: rgba(16, 98, 14, 1);
  z-index: -1;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header__icon {
  height: auto;
  width: 170px;
  z-index: 1;
}

.header__section1 {
  display: block;
  height: 100%;
  width: 100%;
}

.header__section1-1 {
  height: 60px;
  width: 100%;
}

.header__text1 {
  margin-top: -0.7em;
  margin-left: 2em;
  font-size: 1em;
  color: rgba(255, 253, 209, 1);
}

.header__text2 {
  margin-top: -0.5em;
  margin-left: 0.5em;
  font-size: 3.5em;
  color: rgba(255, 253, 209, 1);
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
}

.header__section1-2 {
  display: flex;
  margin-top: -0.4em;
  height: 50px;
  width: 100%;
}

.header__section1-2 ul {
  display:flex;
  margin-left: -3em;
}

.header__section1-2 ul li {
  cursor: pointer;
  list-style: none;
  margin-left: 3vw;
  font-size: 1em;
  transition: 0.3s;
  color: white;
}

.header__section1-2 ul li:hover {
  text-decoration: underline;
  color: rgba(255, 253, 209, 1);
}

.header__dropdown {
  position: relative;
  display: inline-block;
}

.header__dropdownbtn{
  color: white;
  border: none;
  margin-top: 0em;
}

.header__dropdowncontent {
  display: none;
  position: absolute;
  margin-top: -1.2em;
  background-color: rgba(16, 98, 14, 1);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 2px solid rgba(255, 253, 209, 1);
  z-index: 1;
}

.header__dropdowncontent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header__dropdowncontent a:hover {
  background-color: rgba(55, 120, 32, 1);
}

.header__dropdown:hover .header__dropdowncontent {
  display: block;
}

.header__dropdown:hover .dropbtn {
  background-color: #3e8e41;
}











/* -------------------------------------------------------------------------------------------------------LOGIN CSS */

.login {
  background-color: #FFFDD1;
  overflow: hidden;
  height: auto;

}
.login__logocont {
  margin-bottom: 2vh;
  height: auto;
  width: 13vw;
}

.login__leftcont {
  width:40%;
  margin-left: 8vw;
}

.login__rightcont {
  width:70%;
  margin-bottom: 1vh;
  margin-left: 2vw;
}

.login__text1,
.login__text2{
  font-size: 5em;
  font-weight: bolder;
  -webkit-text-stroke-width: 4px;
}

.login__text2 {
  margin-top: -14vh;
}

.login .login__leftcont .emailtxt input[type="text"],
.login .login__leftcont .passwordtxt input[type="password"] {
  width: 23vw;
  padding: 2vh;
  margin-top: 2vh;
  margin-left: 1vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.loginbtn {
  cursor: pointer;
  width: 20vw;
  padding: 2vh;
  margin-top: 4vh;
  margin-left: 1vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #068303;
  box-sizing: border-box;
  color: white;
}











/* -------------------------------------------------------------------------------------------------------HOME CSS */

.home {
  background-color: rgba(255, 253, 209, 1);
}

.home__imgbackground {
  position: absolute;
  margin-top: -2.9em;
}

.home__welcomebackground {
  position: absolute;
  height: 20.2em;
  width: 100vw;
  top: 33.3em;
  left: 0px;
  background-color:  rgba(55, 120, 32, 1);
  z-index: -1;
}

.welcome__headtext1,
.welcome__headtext2{
  margin-top: 5.6em;
  margin-left: 0.5em;
  color: rgba(255, 253, 209, 1);
  font-size: 4.4em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.welcome__headtext2 {
  margin-top: -13.5vh;
  margin-bottom: 4vh;
}

.welcome__bodytext1 {
  width: 48vw;
  margin-top: -0.9em;
  margin-left: 10em;
  font-size: -1em;
  color: rgba(255, 253, 209, 1);
  font-weight: 400;
}

.home__background {
  position: absolute;
  height: 60em;
  width: 100vw;
  top: 53em;
  left: 0px;
  background-color: rgba(255, 253, 209, 1);
}

.recent__rightcont {
  position: flex;
}

.recent__leftcont {
  position: flex;
  margin-right: 4em;
}

.recent__headtext1, .recent__headtext2 {
  margin-top: 0.4em;
  margin-left: -0.5em;
  color: rgb(0, 0, 0);
  font-size: 5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.recent__headtext2 {
  margin-top: -16vh;
  margin-bottom: 4vh;
  color:#068303;
}

.recent__bodytext1 {
  text-align: right;
  width: 48vw;
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  font-size: -1em;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.recent__image1, .recent__image2, .recent__image3 {
  height: 35vh;
  width: 25vw;
  margin-left: 2em;
  border-radius: 40px;
  border-style: solid;
  border-color:  rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.recent__image1:hover,
.recent__image2:hover,
.recent__image3:hover {
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
  transform: scale(1.1);
  transition: 0.3s;
}

.recent__image1 {
  margin-left: 0em;
}

.home__aboutuscont {
  margin-top: 2em;
  z-index: -1;
}

.aboutus__bgimg {
  margin-top: 2em;
  z-index: -1;
}

.aboutus__leftcont {
  width: 50vw;
  margin-top: -10em;
}

.aboutus__rightcont {
  width: 50vw;
  margin-top: 0em;
}

.aboutus__headtext {
  margin-top: -3.4em;
  margin-left: 1em;
  color: rgba(255, 253, 209, 1);
  font-size: 5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.aboutus__bodytext1 {
  margin-top: -20em;
  margin-left: 4em;
  margin-right: 4em;
  font-size: -1em;
  color: rgba(255, 253, 209, 1);
  font-weight: 400;
}

.aboutus__image1 {
  height: 35vh;
  width: 35vw;
  margin-top: -6em;
  margin-left: 8em;
  border-radius: 40px;
  border-style: solid;
  border-color:  rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.learnmorebtn {
  cursor: pointer;
  width: 20vw;
  padding: 2vh;
  margin-top: 4vh;
  margin-left: 10vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #068303;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat';
}











/* -------------------------------------------------------------------------------------------------------THE BARANGAY CSS */

.barangay {
    background-color: rgba(255, 253, 209, 1);
}

.barangay__headertext {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  color:#068303;
  font-size: 5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.barangay__icon {
  width: auto;
  height: auto;
  margin-top: -2.9em;
}

.barangay__bodytext1 {
  text-align: center;
  width: 48vw;
  margin-top: -0.9em;
  font-size: -1em;
  color:#068303;
  font-weight: 400;
}

.barangay__missionvisioncont{
  margin-top: 3vh;
}

.barangay__goalobjectivescont {
  margin-top: 5vh;
}

.mission__container {
  background-color: red;
  height: 35vh;
  width: 25vw;
  margin-left: -15em;
  border-radius: 40px;
  border-style: solid;
  border-color: rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.vision__container {
  height: 35vh;
  width: 25vw;
  margin-left: 3em;
  border-radius: 40px;
  border-style: solid;
  border-color:  rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.goal__container {
  background-color: red;
  height: 35vh;
  width: 25vw;
  margin-left: 15em;
  border-radius: 40px;
  border-style: solid;
  border-color: rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.objectives__container {
  height: 35vh;
  width: 25vw;
  margin-left: 3em;
  border-radius: 40px;
  border-style: solid;
  border-color:  rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.mission__headtext, .vision__headtext,
.goal__headtext, .objectives__headtext {
  color: rgba(55, 120, 32, 1);
  font-size: 3em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.mission__headtext {
  margin-top: 0.8em;
}

.vision__headtext {
  margin-top: 0.4em;
}

.objectives__headtext {
  margin-bottom: 0.6em;
}

.objectives__subtext {
  color: rgba(55, 120, 32, 1);
  font-size: 1em;
  font-weight: 900;
  margin-top: -2.3em;
}

.goal__headtext {
  margin-top: 0.6em;
}

.goal__subtext {
  color: rgba(55, 120, 32, 1);
  font-size: 1em;
  font-weight: 900;
  margin-top: -3.5em;
}

.mtext1, .vtext1, .gtext1, .otext1 {
  width: 20vw;
  text-align: center;
  margin-top: -1em;
  font-size: 1em;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.otext1 {
  margin-top: 1.5em;
}

.gtext1 {
  margin-top: 1.5em;
}

.backgroundgreen {
  position: relative;
  height: 55em;
  width: 100vw;
  top: 3em;
  left: 0px;
  background-color:  rgba(55, 120, 32, 1);
  z-index: -1;
}

.barangay__officials {
  margin-top: -53em;
}

.image1__container {
  height: 60vh;
  width: 18vw;
  margin-top: -11.5em;
  margin-left: 12em;
  border-radius: 40px;
  border-style: solid;
  border-color: rgba(255, 253, 209, 1);
  background-color: #ffffff;
}

.image2__container {
  height: 28vh;
  width: 36.5vw;
  margin-top: -3em;
  margin-left: -0.8em;
  border-radius: 40px;
  border-style: solid;
  border-color:  rgba(255, 253, 209, 1);
  background-color: #ffffff;
}

.image3__container {
  height: auto;
  width: 200px;
  margin-top: -3em;
  margin-left: 2.6em;
  z-index: 1;
}

.image4__container {
  height: 65vh;
  width: 18vw;
  margin-top: -1em;
  margin-left: -7em;
  border-radius: 40px;
  border-style: solid;
  border-color: rgba(255, 253, 209, 1);
  background-color: #ffffff;
}

.image1__container:hover,
.image2__container:hover,
.image4__container:hover {
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
  transform: scale(1.1);
  transition: 0.3s;
}

.barangay__div1__leftcol {
  width: 50vw;
}

.barangay__div1__rightcol {
  width: 40vw;
  height: 50vh;
}

.barangay__div2__leftcol {
  width: 15vw;
  height: 50vh;
}

.barangay__div2__rightcol {
  width: 35vw;
  height: 50vh;
}

.barangay__div3__headtext {
  position: absolute;
  margin-left: -15em;
  margin-right: 0em;
  margin-top: -12em;
}

.barangay__div3__subtext {
  position: absolute;
  margin-left: 6em;
  margin-right: 0em;
  margin-top: -2em;
}

.barangay__headtext1, .barangay__headtext2 {
  text-align: right;
  margin-top: -0.1em;
  margin-left: 0em;
  color:rgba(255, 253, 209, 1);
  font-size: 4.5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.barangay__headtext2 {
  margin-top: -1.4em;
}

.barangay__subtext{
  text-align: right;
  margin-top: -1.5em;
  margin-left: -9em;
  color:rgba(255, 253, 209, 1);
  font-size: 1.2em;
  font-weight: 800;
}

.chairman__text {
  width: 40vw;
  text-align: right;
  margin-top: -0.5em;
  margin-left: -24.7em;
  color:rgba(255, 253, 209, 1);
  font-size: 1.2em;
  font-weight: 500;
}

.contactus__bgimg {
  margin-top: 6em;
  z-index: -1;
}

.contactus__cont {
  margin-top: -22.5em;
  margin-right: -50em;
  height: 50vh;
}

.contactus__headtext {
  margin-top: -0.5em;
  margin-left: 0em;
  color:rgba(255, 253, 209, 1);
  font-size: 4.5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.contactus__headtext1 {
  margin-top: -1em;
  margin-left: 0em;
  color:rgba(255, 253, 209, 1);
  font-size: 1.5em;
  font-weight: 900;
}

.contactus__bodytext1, .contactus__bodytext2,
.contactus__bodytext3, .contactus__bodytext4 {
  width: 40vw;
  margin-top: -1.5em;
  color:rgba(255, 253, 209, 1);
  font-size: 1.2em;
  font-weight: 500;
}

.contactus__bodytext1 {
  margin-bottom: 2em;
}

.contactus__bodytext2 {
  margin-bottom: 2em;
}

.contactus__bodytext3 {
  margin-bottom: 2em;
}

.contactus__bodytext4 {
  margin-bottom: 2em;
}

.contactus__subtext1, .contactus__subtext2,
.contactus__subtext3, .contactus__subtext4 {
  width: 40vw;
  margin-top: -0.9em;
  text-align: right;
  color:rgba(255, 253, 209, 1);
  font-size: 1.5em;
  font-weight: 900;
}











/* -------------------------------------------------------------------------------------------------------FACILITIES CSS */

.facilities {
  background-color: rgba(255, 253, 209, 1);
}

.facilities__imgbackground {
  position: absolute;
  margin-top: -2.9em;
}

.facilities__greenbackground {
  position: absolute;
  height: 20.2em;
  width: 100vw;
  top: 33.3em;
  left: 0px;
  background-color:  rgba(55, 120, 32, 1);
  z-index: -1;
}

.facilities__headtext1{
  margin-top: 6em;
  margin-left: 0.5em;
  color: rgba(255, 253, 209, 1);
  font-size: 4.4em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.facilities__bodytext1 {
  text-align: center;
  width: 48vw;
  margin-top: -4em;
  margin-left: 17em;
  font-size: -1em;
  color: rgba(255, 253, 209, 1);
  font-weight: 400;
}

.fac1__bgimg {
  margin-top: 4.1em;
  z-index: -1;
}

.fac2__bgimg {
  margin-top: 0.09em;
}

.fac3__bgimg {
  height: 60vh;
}

.fac1__leftcont, .fac2__leftcont, .fac3__leftcont {
  width: 50vw;
  margin-top: -10em;
}

.fac1__rightcont, .fac2__rightcont, .fac3__rightcont {
  width: 50vw;
  margin-top: 0em;
}

.fac1__headtext {
  margin-top: -3.4em;
  margin-left: 1em;
  color: rgba(255, 253, 209, 1);
  font-size: 5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.fac2__headtext {
  margin-top: -5em;
  margin-left: 1em;
  color: rgba(255, 253, 209, 1);
  font-size: 5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.fac3__headtext {
  margin-top: -4em;
  margin-left: 1em;
  color: rgba(255, 253, 209, 1);
  font-size: 5em;
  font-weight: 900;
  -webkit-text-stroke-width: 4px;
}

.fac1__subtext {
  width: 40vw;
  margin-top: -7.3em;
  margin-left: 1em;
  color: rgba(255, 253, 209, 1);
  font-size: 3em;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
}

.fac2__subtext {
  width: 40vw;
  margin-top: -5.5em;
  margin-left: 1em;
  color: rgba(255, 253, 209, 1);
  font-size: 3em;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
}

.fac3__subtext {
  width: 40vw;
  margin-top: -7.5em;
  margin-left: 3.5em;
  color: rgba(255, 253, 209, 1);
  font-size: 3em;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
}

.fac1__bodytext1, .fac2__bodytext1, .fac3__bodytext1 {
  text-align: center;
  margin-top: -2em;
  margin-left: 6em;
  margin-right: 4em;
  font-size: -1em;
  color: rgba(255, 253, 209, 1);
  font-weight: 400;
}

.fac1__image1, .fac3__image1 {
  height: 35vh;
  width: 35vw;
  margin-top: -6em;
  margin-left: 5em;
  border-radius: 40px;
  border-style: solid;
  border-color:  rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.fac2__image1 {
  height: 35vh;
  width: 35vw;
  margin-top: -6em;
  margin-left: 0em;
  border-radius: 40px;
  border-style: solid;
  border-color:  rgba(55, 120, 32, 1);
  background-color: #ffffff;
  box-shadow: 10px 10px 5px  rgba(55, 120, 32, 1);
}

.reservebtn1 {
  cursor: pointer;
  width: 20vw;
  padding: 2vh;
  margin-top: 4vh;
  margin-left: 13vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #068303;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat';
}

.reservebtn1:hover {
  background-color: rgba(255, 253, 209, 1);
  color: black;
}

.reservebtn2 {
  cursor: pointer;
  width: 20vw;
  padding: 2vh;
  margin-top: 4vh;
  margin-left: 13vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #068303;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat';
}

.reservebtn2:hover {
  background-color: rgba(255, 253, 209, 1);
  color: black;
}

.reservebtn3 {
  cursor: pointer;
  width: 20vw;
  padding: 2vh;
  margin-top: 4vh;
  margin-left: 16vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #068303;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat';
}

.reservebtn3:hover {
  background-color: rgba(255, 253, 209, 1);
  color: black;
}











/* -------------------------------------------------------------------------------------------------------FACILITY RESERVATION CSS */

.reservation {
  background-color: rgba(255, 253, 209, 1);
}

.reservation__formcont {
  background-color: rgba(55, 120, 32, 1);
  padding: 1.5em;
  border: none;
  border-radius: 30px;
  width: 50.3vw;
}

.reservation__image {
  margin-right: 3em;
  height: 38em;
  width: 25em;
  border: none;
  border-radius: 30px;
}

.reservation__headertxt {
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-size: 3.5em;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
}

.reservation__formlabel {
  font-size: 1em;
  font-weight: 900;
  margin-top: 0.6em;
  margin-bottom: 1em;
  color: rgba(255, 253, 209, 1);
}

.formlabelName {
  margin-top: 0em;
}

.reservation__inputName,
.reservation__inputPurpose,
.reservation__inputAttendees,
.reservation__inputDate,
.reservation__inputTime {
  width: 39vw;
  padding: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f2f2f2;
}

.reservation__inputName {
  width: 43.5vw;
}

.reservation__inputPurpose {
  width: 33.5em;
}

.reservation__inputAttendees {
  width: 30.3em;
}

.reservation__formsubmit {
  cursor: pointer;
  margin-top: 3vh;
  height: 6vh;
  width: 15vw;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  color: black;
  background-color: rgba(255, 253, 209, 1);
}

.reservation__formsubmit:hover {
  transition: 0.2s;
  color: rgba(255, 253, 209, 1);
  background-color: rgb(48, 48, 48);
}

.reservation__todaybox {
  height: 1.5em;
  width: 8em;
  background-color: white;
}

.reservation__month {
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 0.3em;
  font-size: 3.5em;
  font-weight: 900;
}

.reservation__year {
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 0.3em;
  font-size: 3.5em;
  font-weight: 900;
}

.reservation table {
  width: 100vw;
  border-collapse: collapse;
  background-color: rgba(244, 238, 238, 1);
}

.tabled {
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: 12.5%;
  background-color: white;
}

.table__mon {
  background-color: rgb(246, 106, 106);
}

.table__row5em {
  height: 5em;
}

.table__header {
  padding-top: 1em;
  font-size: 1.5em;
}











/* -------------------------------------------------------------------------------------------------------FACILITY RESERVATION ADMIN CSS */

.reservation {
  background-color: rgba(255, 253, 209, 1);
}

.reservation__label {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 3.8em;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
}

.reservationadmin__dayLabel {
  font-size: 2em;
  font-weight: 700;
  -webkit-text-stroke-width: 2px;
}

.reservationadmin__tableheader {
  height: 4vw;
  font-size: 1em;
}

.reservationadmin__tablerow {
  min-height: 4vw;
  font-size: 1em;
}

.reservationadmin__name {
  padding-left: 1vw;
  width: 30%;
}

.reservationadmin__purpose {
  width: 40%;
}

.reservationadmin__attendees {
  width: 10%;
  text-align: center;
}

.reservationadmin__date {
  width: 10%;
  text-align: center;
}

.reservationadmin__time {
  width: 10%;
  text-align: center;
}











/* -------------------------------------------------------------------------------------------------------RESIDENTS LIST CSS */

.residents {
  background-color: rgba(255, 253, 209, 1);
}

.residents__label {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 3.8em;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
}

.residents__searchtxt {
  display: flex;
  height: 2em;
  width: 35em;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 0vh;
  margin-left: 4vw;
  font-size: 1em;
  color: black;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;
  text-align: center;
}

.residents__searchbtn,
.residents__addbtn {
  cursor: pointer;
  height: 2em;
  width: 8em;
  font-size: 1em;
  color: white;
  background-color: rgba(16, 98, 14, 1);
}

.residents__searchbtn {
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.residents__addbtn {
  margin-left: 10em;
  width: 10em;
  border: none;
  border-radius: 50px;
}

.residents__searchbtn:hover,
.residents__addbtn:hover {
  transition: 0.3s;
  background-color: rgba(55, 120, 32, 1);
}

.residents table {
  width: 90vw;
  border-collapse: collapse;
  background-color: white;
}

.residents td {
  border: 1px solid black;
}

.residents__tableheader {
  height: 4vw;
  font-size: 1em;
}

.residents__tablerow {
  height: 4vw;
  font-size: 1em;
}

.residents__brdynum {
  width: 10%;
  text-align: center;
}

.residents__name {
  padding: 0.5vw;
  width: 25%;
}

.residents__sex {
  width: 3%;
  text-align: center;
}

.residents__bdate {
  width: 8%;
  text-align: center;
}

.residents__relocation {
  width: 4%;
  text-align: center;
}

.residents__address {
  padding: 0.5vw;
  width: 35%;
}

.residents__operation {
  width: 5%;
  text-align: center;
}

.residents__edit {
  cursor: pointer;
  width: 5%;
  text-align: center;
  color: white;
  background-color: rgba(16, 98, 14, 1);
}
.residents__edit:hover {
  transition: 0.2s;
  color: black;
  background-color: yellow;
}











/* -------------------------------------------------------------------------------------------------------USER PROFILE CSS */

.profile {
  background-color: rgba(255, 253, 209, 1);
}

.profile__topinfocont {
  background-color: white;
  border: 6px solid rgba(16, 98, 14, 1);
  border-radius: 30px;
}

.profile__leftinfocont,
.profile__rightinfocont {
  margin-bottom: 2em;
  width: 46%;
  background-color: white;
  border: 6px solid rgba(16, 98, 14, 1);
  border-radius: 30px;
}

.profile__rightinfocont {
  margin-left: 4.5em;
}

.profile__inforow,
.profile__infolastrow {
  padding: 0.5em;
  border-bottom: 2px solid rgba(16, 98, 14, 1);
}

.profile__infolastrow {
  border: none;
}

.profile__image {
  height: 21em;
  width: 21em;
  border: 5px solid rgba(16, 98, 14, 1);
  border-radius: 200px;
}

.profile__name {
  margin-top: 0.4em;
  font-size: 2em;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 2px;
}

.profile__guidetext {
  margin-top: -1.9em;
  margin-bottom: 1.5em;
  font-size: 1em;
  text-align: center;
  color: black;
}

.profile__changepass {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.profile__popup {
  background-color: rgba(55, 120, 32, 1);
  width: 31em;
  height: 32em;
  position: fixed;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 30px;
  display: none;
}

.profile__popuplabel,
.profile__popuplabelcurrent {
  margin-left: 2.3em;
  font-size: 1.5em;
  color: white;
}

.profile__popuplabelcurrent {
  margin-top: -0.6em;
}

.profile__popupcurrent,
.profile__popupnewpass,
.profile__popupconfirmpass {
  width: 25vw;
  padding: 0.8em;
  margin-top: -1em;
  margin-left: 2em;
  margin-bottom: 1em;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f2f2f2;
}

.profile__popupexitbutton {
  display: block;
  margin:  20px 20px 0 auto;
  font-size: 30px;
  color: rgba(55, 120, 32, 1);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 253, 209, 1);
}

.profile__popupexitbutton:hover {
  transition: 0.2s;
  color: rgba(255, 253, 209, 1);
  background-color: rgb(48, 48, 48);
}

.profile__popupsavebtn {
  cursor: pointer;
  margin-top: 3vh;
  height: 6vh;
  width: 15vw;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  color: black;
  background-color: rgba(255, 253, 209, 1);
}

.profile__popupsavebtn:hover {
  transition: 0.2s;
  color: rgba(255, 253, 209, 1);
  background-color: rgb(48, 48, 48);
}











/* -------------------------------------------------------------------------------------------------------USER ADD/EDIT CSS */

.profileedit {
  background-color: rgba(255, 253, 209, 1);
}

.profileedit input[type="file"]{
  display: none;
}
.profileedit .inputicon {
  margin-right: 0.5vw;
  width: 2vw;
  height: 4vh;
}
.profileedit label{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 253, 209, 1);
  font-size: 1em;
  height: 6vh;
  width: 20vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 30px;
  background-color: rgba(55, 120, 32, 1);
}
.profileedit label:hover{
  transition: 0.3s;
  background-color: rgba(0, 136, 53);
}

.profileedit__guidetext {
  margin-top: 0.3em;
  margin-bottom: 1.5em;
  font-size: 1em;
  text-align: center;
  color: black;
}

.profileedit__name {
  width: 25em;
  margin-top: 0.4em;
  font-size: 2em;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 2px;
}

.profileedit__inforow {
  width: 70%;
  height: 3em;
  text-align: right;
}

.profileedit__infotextarea {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  min-width: 70%;
  max-width: 70%;
  min-height: 3em;
  text-align: right;
}

.profileedit__changepass {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.profileedit__savebtn,
.profileedit__addbtn,
.profileedit__otherbtns,
.profileedit__cancelbtn {
  cursor: pointer;
  margin-bottom: 2em;
  height: 6vh;
  width: 15vw;
  font-size: 1.3em;
  border: none;
  border-radius: 50px;
  color: rgba(255, 253, 209, 1);
  background-color: rgba(55, 120, 32, 1);
}

.profileedit__otherbtns {
  margin-left: 5vw;
}

.profileedit__cancelbtn {
  margin-left: 27vw;
}

.profileedit__savebtn:hover,
.profileedit__cancelbtn:hover {
  transition: 0.3s;
  background-color: rgba(0, 136, 53);
}

.profileedit__popup {
  background-color: rgba(55, 120, 32, 1);
  width: 31em;
  height: 24em;
  position: fixed;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 30px;
  display: none;
}

.profileedit__popuplabel,
.profileedit__popuplabelnew {
  margin-left: 2.3em;
  font-size: 1.5em;
  color: white;
}

.profileedit__popuplabelnew {
  margin-top: -0.6em;
}

.profileedit__popupnewpass,
.profileedit__popupconfirmpass {
  width: 25vw;
  padding: 0.8em;
  margin-top: -1em;
  margin-left: 2em;
  margin-bottom: 1em;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f2f2f2;
}

.profileedit__popupexitbutton {
  display: block;
  margin:  20px 20px 0 auto;
  font-size: 30px;
  color: rgba(55, 120, 32, 1);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 253, 209, 1);
}

.profileedit__popupexitbutton:hover {
  transition: 0.2s;
  color: rgba(255, 253, 209, 1);
  background-color: rgb(48, 48, 48);
}

.profileedit__popupsavebtn {
  cursor: pointer;
  margin-top: 3vh;
  height: 6vh;
  width: 15vw;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  color: black;
  background-color: rgba(255, 253, 209, 1);
}

.profileedit__popupsavebtn:hover {
  transition: 0.2s;
  color: rgba(255, 253, 209, 1);
  background-color: rgb(48, 48, 48);
}











/* -------------------------------------------------------------------------------------------------------ITEM RENTING CSS */

.renting {
  background-color: rgba(255, 253, 209, 1);
}

.renting__header {
  margin-top: 0em;
  margin-bottom: 1em;
  font-size: 3.5em;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
}

.renting__availabilitycont {
  width: 30%;
}

.renting__itemicons,
.renting__itemiconsfirst {
  width: 3em;
  height: 3em;
  border: none;
  border-radius: 100px;
  background-color: white;
  padding: 1em;
}

.renting__itemiconsfirst {
  margin-top: 2em;
}

.renting__availability {
  margin-top: 0.5em;
  margin-bottom: 3em;
  margin-left: 3em;
  height: 2em;
  width: 18vw;
  font-size: 1.1em;
  text-align: center;
  border: none;
  border-radius: 30px;
  color: rgba(255, 253, 209, 1);
  background-color: rgba(55, 120, 32, 1);
}

.renting__availability .itemcount{
  margin-left: 0.5em;
}

.renting__formcont {
  height: fit-content;
  width: 70%;
  background-color: rgba(55, 120, 32, 1);
  padding: 1.5em;
  border: none;
  border-radius: 30px;
}

.renting__formlabel,
.renting__itemssection {
  width: 20%;
  font-size: 1em;
  font-weight: 900;
  color: rgba(255, 253, 209, 1);
}

.renting__itemssection {
  margin-top: 5em;
  margin-bottom: 0em;
}

.renting__input,
.renting__inputName {
  height: 2em;
  width: 95%;
  padding: 0.5em;
  margin-right: 1em;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f2f2f2;
}

.renting__inputName {
  height: 2em;
  font-size: 0.8em;
}

.renting__inputtextarea {
  margin-top: 1em;
  margin-right: 1em;
  padding: 0.5em;
  min-width: 79%;
  max-width: 79%;
  min-height: 3em;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f2f2f2;
}

.renting__itemlabel {
  margin-top: 1.8em;
  color: rgba(255, 253, 209, 1);
}

.renting__inputitem {
  height: 1em;
  width: 20%;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 0.5em;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f2f2f2;
  text-align: right;
}

.renting__formsubmit {
  cursor: pointer;
  margin-top: 8vh;
  margin-bottom: 2vh;
  height: 6vh;
  width: 15vw;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  color: black;
  background-color: rgba(255, 253, 209, 1);
}

.renting__formsubmit:hover {
  transition: 0.2s;
  color: rgba(255, 253, 209, 1);
  background-color: rgb(48, 48, 48);
}











/* -------------------------------------------------------------------------------------------------------ITEM TRACKER CSS */

.tracker {
  background-color: rgba(255, 253, 209, 1);
}

.tracker__label {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 3.8em;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
}

.tracker__availability {
  margin-right: 4vw;
  font-size: 1.1em;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
}

.tracker__itemlabel,
.tracker__itemlabel2 {
  color: black;
}

.tracker__itemlabel2 {
  margin-right: 4em;
}

.tracker__inputitem {
  height: 1em;
  width: 5vw;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 0.5em;
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f2f2f2;
  text-align: right;
}

.tracker table {
  width: 100vw;
  border-collapse: collapse;
  background-color: rgba(244, 238, 238, 1);
}

.tracker__tableheader {
  height: 4vw;
  font-size: 1em;
}

.tracker__tablerow {
  height: 4vw;
  font-size: 1em;
  border-bottom: 2px solid rgba(16, 98, 14, 1);
}

.tracker__name,
.tracker__namehead {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 25%;
}

.tracker__rentdate {
  width: 10%;
  text-align: center;
}

.tracker__address {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 50%;
}

.tracker__chairs {
  width: 5%;
  text-align: center;
}

.tracker__tables {
  width: 5%;
  text-align: center;
}

.tracker__tents {
  width: 5%;
  text-align: center;
}











/* -------------------------------------------------------------------------------------------------------MEDIA QUERIES CSS */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}