@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

h1, h2, h3, h4, h5, h6, p, a, li, ul, span, div, td {
  font-family: 'Montserrat';
}

body {
  margin: 0;
  height: 200vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-image: url(images/backgroud1.png); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(255, 0, 0, 0.186);
  /*--------------------tanggal background color--------------------*/
}

.top2em {
  margin-top: 2em;
}

.top4em {
  margin-top: 4em;
}

.top6em {
  margin-top: 6em;
}

.top8em {
  margin-top: 8em;
}

.top10em {
  margin-top: 10em;
}

.flex {
  display: flex;
}

.centeredflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: rgba(16, 98, 14, 1);
  color: white
}















.header__backgroundtop {
  position: absolute;
  height: 5.7em;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgba(55, 120, 32, 1);
  z-index: -1;
}

.header__backgroundbottom {
  position: absolute;
  height: 2em;
  width: 100vw;
  top: 91px;
  left: 0px;
  background-color: rgba(16, 98, 14, 1);
  z-index: -1;
}

.header__container {
  display: flex;;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header__icon {
  z-index: 1;
  height: auto;
  width: 170px;
}

.header__section1 {
  display: block;
  height: 100%;
  width: 100%;
}

.header__section1-1 {
  height: 60px;
  width: 100%;
}

.header__text1 {
  margin-top: -0.7em;
  margin-left: 2em;
  font-size: 1em;
  color: rgba(255, 253, 209, 1);
}

.header__text2 {
  margin-top: -0.5em;
  margin-left: 0.5em;
  font-size: 3.5em;
  color: rgba(255, 253, 209, 1);
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
}

.header__section1-2 {
  display: flex;
  margin-top: -0.4em;
  height: 50px;
  width: 100%;
}

.header__section1-2 ul {
  display:flex;
  margin-left: -3em;
}

.header__section1-2 ul li {
  cursor: pointer;
  list-style: none;
  margin-left: 3vw;
  font-size: 1em;
  transition: 0.3s;
  color: white;
}

.header__section1-2 ul li:hover {
  text-decoration: underline;
  color: rgba(255, 253, 209, 1);
}















.reservation {
  background-color: rgba(255, 253, 209, 1);
}

.reservation__todaybox {
  height: 1.5em;
  width: 8em;
  background-color: rgba(244, 238, 238, 1);
}

.reservation__month {
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 0.3em;
  font-size: 3.5em;
  font-weight: 900;
}

.reservation__year {
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 0.3em;
  font-size: 3.5em;
  font-weight: 900;
}

.reservation table {
  width: 100vw;
  border-collapse: collapse;
  background-color: rgba(244, 238, 238, 1);
}

.tabled {
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: 12.5%;
}

.table__mon {
  background-color: rgb(246, 106, 106);
}















.residents {
  background-color: rgba(255, 253, 209, 1);
}

.residents__label {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 3.8em;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
}

.residents__searchtxt {
  display: flex;
  height: 1.8em;
  width: 11em;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 0vh;
  margin-left: 4vw;
  font-size: 1em;
  color: black;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;
  text-align: center;
}

.residents__searchbtn,
.residents__deletebtn,
.residents__addbtn,
.residents__editbtn {
  cursor: pointer;
  height: 1.8em;
  width: 8em;
  font-size: 1em;
  color: white;
  background-color: rgba(16, 98, 14, 1);
}

.residents__searchbtn {
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.residents__deletebtn {
  margin-left: 13em;
  border: none;
  border-radius: 50px;
}

.residents__addbtn {
  margin-left: 1em;
  border: none;
  border-radius: 50px;
}

.residents__editbtn {
  margin-left: 1em;
  border: none;
  border-radius: 50px;
}

.residents table {
  width: 90vw;
  border-collapse: collapse;
  background-color: white;
  font-size: 1em;
}

.residents td {
  border: 1px solid black;
}





















































   
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}