<!DOCTYPE html>
<html>
<head>
    <title>Reservation</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="reservation" onload="initClock()">
<div class=header__backgroundtop></div>
<div class=header__backgroundbottom></div>
<div class="container">
    <div class=header__container>
        <img class="header__icon" alt="Brgy Logo" src="images/logo.png"/>
        <div class=header__section1>
            <div class="header__section1-1">
                <p class="header__text1">Pasig City, Metro Manila</p>
                <p class="header__text2">BARANGAY SANTA LUCIA</p>
            </div>
            <div class="header__section1-2">
                <ul>
                    <li class="firstlist" onclick="window.location.href='XXX'">Home</li>
                    <li onclick="window.location.href='XXX'">The Barangay</li>
                    <li onclick="window.location.href='XXX'">Facilities</li>
                    <li onclick="window.location.href='XXX'">Residents</li>
                    <li onclick="window.location.href='XXX'">Services</li>
                    <li onclick="window.location.href='XXX'">Profile</li>
                    {% if current_user.is_authenticated %}
                        <li onclick="window.location.href='{{ url_for('views.logout') }}'">Logout</li>
                    {% else %}
                        <li onclick="window.location.href='{{ url_for('views.login') }}'">Login</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container centeredflex top2em">
    <div class="reservation__todaybox centeredflex">
        <p>TODAY</p>
    </div>
    <p class="reservation__month" id="month">Month</p>
    <p class="reservation__year" id="year">Year</p>
</div>
<table>
    <tr>
        <td class="tabled table__time">Time</td>
        <td class="tabled">Mon</td>
        <td class="tabled table__tue">Tue</td>
        <td class="tabled table__wed">Wed</td>
        <td class="tabled table__thu">Thu</td>
        <td class="tabled table__fri">Fri</td>
        <td class="tabled table__sat">Sat</td>
        <td class="tabled table__sun">Sun</td>
    </tr>
    <tr>
        <td class="tabled"></td>
        <td id="date1" class="tabled">00</td>
        <td id="date2" class="tabled">00</td>
        <td id="date3" class="tabled">00</td>
        <td id="date4" class="tabled">00</td>
        <td id="date5" class="tabled">00</td>
        <td id="date6" class="tabled">00</td>
        <td id="date7" class="tabled">00</td>
    </tr>


    <tr>
        <td class="tabled table__time">
            <p>7:00 - 8:00</p>
        </td>
        <td class="tabled table__mon">

        </td>
        <td class="tabled table__tue">
            <p>Reserved</p>
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>


    <tr>
        <td class="tabled table__time">
            <p>8:00 - 9:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
            <p>Reserved</p>
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
            <p>Reserved</p>
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>9:00 - 10:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
            <p>Reserved</p>
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
            <p>Reserved</p>
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
            <p>Reserved</p>
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>10:00 - 11:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
            <p>Reserved</p>
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>11:00 - 12:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
            <p>Reserved</p>
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>12:00 - 13:00</p>
        </td>
        <td class="tabled table__mon">
            <p>Maintenance Period</p>
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
            <p>Reserved</p>
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>13:00 - 14:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>14:00 - 15:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>15:00 - 16:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>16:00 - 17:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
            <p>Reserved</p>
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>17:00 - 18:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
            <p>Reserved</p>
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
    <tr>
        <td class="tabled table__time">
            <p>18:00 - 19:00</p>
        </td>
        <td class="tabled table__mon">
        </td>
        <td class="tabled table__tue">
        </td>
        <td class="tabled table__wed">
        </td>
        <td class="tabled table__thu">
        </td>
        <td class="tabled table__fri">
            <p>Reserved</p>
        </td>
        <td class="tabled table__sat">
        </td>
        <td class="tabled table__sun">
        </td>
    </tr>
</table>


<script src="scripts/time.js"></script>
</body>
</html>